@import "colors";
@import "fonts";

.searchBar {
  margin-right: 48px;
  margin-top: 6px;

  form {
    border-bottom: 1px solid $hater-color;
    margin: 0;
    padding: 0;
  }
}

#search {
  .logo {
    background: url('../images/blueLOGO.png') no-repeat;
    width: 190px;
    height: 73px;
    margin-left: 48px;
    margin-top: 59px;
  }
}

.searchBar input {
  font-size: 3.124em;
  color: #fff;
  opacity: 0.3;
  background-color: $app-background-color;
  font-weight: 900;
  border: none;
  outline: none;
  text-align: left;
}


