@import "colors";

#searchBar {
  margin-right: 48px;

  form {
    border-bottom: 1px solid $hater-color;
    margin: 0;
    padding: 0;
  }
}

#searchBar input {
  font-size: 3.124em;
  color: #fff;
  opacity: 0.3;
  background-color: $app-background-color;
  font-weight: 900;
  border: none;
  outline: none;
  text-align: left;
}


