<!DOCTYPE html>
<html ng-app="xisa">
	<head>
		<title>XISA</title>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="../static/scripts/script.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body ng-controller="whoCtrl">
		<div id="wrapper">
			<nav ng-controller="navCtrl">
				<p>according to Twitter</p>
				<ul>
					<li ng-repeat="navLink in navLinks" > <a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{navLink.LinkText}}</a>
					<div class="claer"></div>
				</ul>
				<div class="claer"></div>
			</nav>
			<section id="header">
				<section id="title"><b>MOST HATED</b> <span>PEOPLE</span></section>
				<section id="retweets">
					<p id="left">lower Buzz</p>
					<p id="right">higher Buzz</p><br>
					<img id="bar" src="../static/images/bar.png" alt="color bar">
				</section>
				<div class="clear"></div>
			</section>
			<section id="cubeContainer"></section>
		</div>
	</body>
</html>