<section ng-controller="footerCtrl">
    <span id="studio"><span>{{studio}}</span>{{studioCont}}</span>
    <span id="sprd">{{sprd}}
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fxisa.herokuapp.com&layout=button_count&size=small&mobile_iframe=true&width=68&height=20&appId" width="68" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </span>
</section>