@import "../utils/colors";

#filter-btn {
  margin-right: 48px;
  cursor: pointer;

  span {
    color: $hated-color;
    font-size: 3.124em;
    font-weight: 900;
    border-bottom: 3px solid $hated-color;
  }

  img {
    margin-left: 15px;
    line-height: 100%;
    vertical-align: middle;
  }
}