
#footer {
  flex-direction: row;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  width: 100%;
}

#studio {
  color:  #ffffff;
  font-size: 0.938em;
  font-weight: 700;
  line-height: 4.967;
  text-align: left;
  flex: 1;
}

#studio span {
  font-weight: 900;
}

#sprd {
  color:  #ffffff;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 3.726;
  text-align: right;
  margin-right: 100px;
}

#twitter-widget-0 {
  margin-right: 16px;
  margin-left: 16px;
  vertical-align: middle;
}

iframe[src*="facebook"] {
  vertical-align: middle;
}
