@import "../utils/colors";

#how {
  width: 100vw;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body::after {
  content: "";
  background-color: #000000;
  opacity: 0.70;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#redDimmer {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

#redDimmer::after {
  content: "";
  background-color: $hated-color;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#how nav p {
  margin-left: 2%;
}

#howHeader {
  color: #ffffff;
  margin-top: 25px;
  margin-left: 48px;
  display: flex;
  flex-direction: row;
}

.redUnder {
  color: $hated-color;
  border-bottom: 4px solid $hated-color;
}

#names {
  margin-right: 60px;
}

#names p {
  margin: 0;
  max-width: 360px;
  margin-right: 75px;
}

#howText p {
  color: #fff;
  font-weight: 300;
  font-size: 0.874em;
  opacity: 0.7;
  margin-right: 48px;
}

.howCelebName {
  font-size: 3.124em;
  font-weight: 900;
  color: $hated-color;
}

.twitterName {
  font-size: 1.562em;
  font-weight: 500;
}

#howText {
  font-size: 1.874em;
  font-weight: 300;
  color: #fff;
  margin-top: 12px;
}

#mark {
  background-color: $hated-color;
  color: #ffffff;
}

#markWord {
  color: $hated-color;
}

#bars {
  margin-left: 48px;
  margin-right: 100px;
  flex: 1;
}

.bar {
  margin-bottom: 10px;
}

#bad_words {
  flex: 2;
}

.barBadWord {
  font-size: 1.874em;
  font-weight: 400;
  color: $hated-color;
  margin-bottom: 18px;
  margin-top: 0;
}

.barWordCount {
  font-size: 1.25em;
  color: #fff;
  margin-top: 17px;
  font-weight: 300;
}

.TickerNews {
  color: #ffffff;
  font-size: 4.873em;
  font-weight: 400;
  line-height: 100px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.ti_wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100px;
}

.ti_slide {
  width: 30000px;
  position: relative;
  left: 0;
  top: 0;
}

.ti_content {
  width: 8000px;
  position: relative;
  float: left;
}

.ti_news {
  float: left;
}

.ti_news a {
  color: #fff;
  font-size: 1em;
}

.ti_news a:hover {
  color: $hated-color;
  border-bottom: 4px solid $hated-color;
}

.reply {
  display: inline-block;
  width: 95px;
  height: 27px;
  background: url('../../images/tweet_red.png') no-repeat;
  line-height: 100px;
  vertical-align: middle;
}

a.reply:hover{
  border: none;
}

.bar_chart {
  color: #ffffff;
  background-color: $hated-color;
  height: 7px;
  margin-bottom: 7px;
}

#howContent {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 111px;
  min-height: 500px;
}