#logo {
  width: 190px;
  height: 73px;
  margin-left: 48px;
  margin-top: 59px;
}

.hated a#logo{
  background: url('../../images/redLOGO.png') no-repeat;
}

.hater a#logo{
  background: url('../../images/blueLOGO.png') no-repeat;
}