@import "../colors";

#logo {
  width: 190px;
  height: 73px;
  margin-left: 48px;
  margin-top: 59px;
}

.hated a#logo{
  background: url('../../images/redLOGO.png') no-repeat;
}

.hater a#logo{
  background: url('../../images/blueLOGO.png') no-repeat;
}

header {
  display: flex;
  flex-direction: row;

  nav {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    margin-right: 48px;
    margin-top: 68px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
      margin-left: 31px;

      a {
        color: $text-color;
        font-size: 1.25em;
        line-height: 1.25em;
        font-weight: 300;
      }

      a.active {
        color: #ffffff;
        font-weight: 900;
        line-height: 1.25em;
      }
    }
  }
}
