#tweet {
  width: 400px !important;
  position: absolute;
  left: 68px;
}

.arrow:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 30px;
  margin-top: -30px;
}

#tweet iframe {
  border: none !important;
  box-shadow: none !important;
}

