<!DOCTYPE html>
<html ng-app="xisa">
<head>
    <title>XISA</title>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery.tickerNews.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="howCtrl" id="how" ng-style="{'background-image': 'url(' + celebImage + ')'}">
<navbar class="hated"></navbar>
<section id="howHeader">
    <section id="names">
        <p id="howCelebName">{{celebName}}</p>
        <p id="twitterName">{{twitterName}}</p>
    </section>
    <section id="howText">
        <p>{{numOfPeople}}<span id="mark">{{badWord}}</span></p>
        <p>{{also}}</p>
    </section>
</section>
<section id="content">
    <section id="bars">
        <section class="bar" ng-repeat="bar in bars">
            <p class="barBadWord">{{bar.word}}</p>
            <div class="bar_chart" ng-style={{bar.width}}></div>
            <p class="barWordCount">{{bar.bad_words_count}}</p>
        </section>
    </section>
    <section id="bad_words">
        <div class="TickerNews" ng-repeat="wrapper in wrappers track by $index" ng-attr-id="{{'text_move' + $index}}">
            <div class="ti_wrapper">
                <div class="ti_slide">
                    <div class="ti_content">
                        <div class="ti_news" ng-repeat="text in wrapper.texts" ng-attr-id="{{'ti_news' + $index}}"
                             ng-mouseover="showPopup">
									<span ng-repeat="word in text.words">
										<a ng-if="shouldLink(word)" ng-href="{{word.route}}?name={{word.url}}">{{word.word}}&nbsp</a>
										<span ng-if="!shouldLink(word)" ng-class="{currentWord: wordClass(text, word)}">{{word.word}}&nbsp</span>
									</span>
                            <a ng-href="https://twitter.com/intent/tweet?in_reply_to={{text.tweetId}}">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="popup" stlye="visibility: hidden;">
    <img src="">
    <p id="tweetText"></p>
    <p id="tweetTime"></p>
</section>
<section class="error" ng-show="{{isError}}">{{errorMsg}}</section>
</body>
</html>