<!DOCTYPE html>
<html ng-app="xisa">
<head>
    <title>HateSpread</title>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="whoCtrl" id="who">
<header>
    <a class="logo hated" href="/" title="logo"></a>
    <nav ng-controller="navCtrl">
        <ul>
            <li ng-repeat="navLink in navLinks"><a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{
                navLink.LinkText }}</a></li>
        </ul>
    </nav>
</header>
<section id="content">
    <div id="topbar">
        <section id="title">
            <h1><span class="hated-text">{{ mostHated }}</span> {{ people }}</h1>
            <p>{{past}}</p>
        </section>
        <section id="filter" ng-controller="filterCtrl">
            <div id="filter-btn" ng-click="hideOptions = !hideOptions">
                <a href="#">{{ selectFilter }}</a>
                <img src="images/categories.png" alt="categoriesArrow">
            </div>
            <section id="filterOptions" ng-show="hideOptions">
                <header>
                    <a class="logo hated" href="/" title="logo"></a>
                    <a href="#" id="close" ng-click="hideOptions = !hideOptions">X</a>
                </header>
                <ul>
                    <li class="selected">
                        <span>{{ selectFilter }}
                            <img src="images/categories.png" alt="categoriesArrow">
                        </span>

                    </li>
                    <li ng-repeat="category in categories" ng-click="getCelebs(category)"><span>{{category.name}}</span>
                    </li>
                </ul>
            </section>
        </section>
    </div>
    <section id="cubeContainer">
        <a class="cube" href='{{cube.url}}' ng-repeat="cube in cubes"
           ng-style="{'background-image': 'url({{cube.image}})'}">
            <section>
                <p><span id="hashtag" class="hated-bg">{{cube.word}}</span></p>
                <p><span id="celebName" class="hated-bg">{{cube.name}}</span></p>
            </section>
        </a>
    </section>
</section>
</body>
</html>
