<!DOCTYPE html>
<html ng-app="xisa">
	<head>
		<title>XISA</title>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/jquery.tickerNews.min.js"></script>
		<script src="scripts/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="whatCtrl" id="how">
        <header>
            <a href="/whom" id="logo" class="hater"></a>
            <nav ng-controller="navCtrl">
                <ul>
                    <li ng-repeat="navLink in navLinks" > <a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{navLink.LinkText}}</a></li>
                </ul>
            </nav>
        </header>
        <section id="whatHeader">
            <section id="whatnames">
                <p class="whatuserName">{{firstName}}</p>
                <p class="whatuserName">{{lastName}}</p>
                <p id="whattwitterName">{{twitterName}}</p>
                <p id="whatfollowersCount"><span id="blueMark">{{followersCount}}</span></p>
            </section>
            <section id="whatText">
                <p>{{numOfPeople}}<span id="revertBlueMark">{{badWordCount}}</span>{{also}}</p>
            </section>
            <section id="hatedPeople">
                <p id="picText"><span id="whatmark">{{picText}}</span></p>
                <section id="pics">
                    <section ng-mouseover="" ng-click="" ng-repeat="pic in pics" class="pics" ng-style="{'background-image': 'url(' + pic.image + ')'}"></section>
                </section>
            </section>
            <div class="clear"></div>
        </section>
        <section id="content">
            <section id="bars">
                <section class="bar" ng-repeat="bar in bars">
                    <p class="barBadWord">{{bar.word}}</p>
                    <div class="bar_chart" ng-style={{bar.width}}></div>
                    <p class="barWordCount">{{bar.bad_words_count}}</p>
                </section>
            </section>
            <section id="bad_words">
                <div class="TickerNews" ng-repeat="wrapper in wrappers" id={{wrapper.TickerNewsId}}>
                    <div class="ti_wrapper">
                        <div class="ti_slide">
                            <div class="ti_content">
                                <div class="ti_news" ng-repeat="text in texts" id={{text.ti_newsId}} ng-mouseover="showPopup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="popup" stlye="visibility: hidden;">
                <img src="">
                <p id="tweetText"></p>
                <p id="tweetTime"></p>
            </section>
        </section>
        <section class="error" ng-show="{{isError}}">{{errorMsg}}</section>
	</body>
</html>