<!DOCTYPE html>
<html ng-app="xisa">
	<head>
		<title>XISA</title>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/jquery.tickerNews.min.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<script src="scripts/script.js"></script>
	    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="howCtrl" id="how">
			<nav ng-controller="navCtrl">
				<a id= "logo" href="/whom"><img src="/images/redLOGO.png" alt="logo"></a>
				<ul>
					<li ng-repeat="navLink in navLinks" > <a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{navLink.LinkText}}</a></li>
				</ul>
			</nav>
			<section id="howHeader">
				<section id="names">
					<p id="howCelebName">{{celebName}}</p>
					<p id="twitterName">{{twitterName}}</p>
				</section>
				<section id="howText">
					<p>{{numOfPeople}}<span id="mark">{{badWord}}</span></p>
					<p>{{also}}</p>
				</section>
				<div class="clear"></div>
			</section>
			<section id="howContent">
				<section id="bars"></section>
				<section id="bad_words"></section>
			</section>
	</body>
</html>