<!DOCTYPE html>
<html ng-app="xisa">
	<head>
		<title>XISA</title>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/jquery.tickerNews.min.js"></script>
		<script src="scripts/script.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="howCtrl" id="how">
		<div id="dimmer">
			<nav ng-controller="navCtrl">
				<p><a href="/whom"><img src="/images/redLOGO.png" alt="logo"></a></p>
				<ul>
					<li ng-repeat="navLink in navLinks" > <a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{navLink.LinkText}}</a></li>
					<div class="claer"></div>
				</ul>
				<div class="claer"></div>
			</nav>
			<section id="howHeader">
				<section id="names">
					<p id="howCelebName">{{celebName}}</p>
					<p id="twitterName">{{twitterName}}</p>
				</section>
				<section id="howText">
					<p>{{numOfPeople}}<span id="mark">{{badWord}}</span></p>
					<p>{{also}}</p>
				</section>
				<div class="clear"></div>
			</section>
			<section id="howContent">
				<section id="bars"></section>
				<section id="bad_words"></section>
			</section>
		</div>
	</body>
</html>