<!DOCTYPE html>
<html ng-app="xisa">
	<head>
		<title>XISA</title>
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/script.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="whoCtrl" id="who">
		<nav ng-controller="navCtrl">
			<a id="logo" href="/"><img src="/images/redLOGO.png" alt="logo"></a>
			<ul>
				<li ng-repeat="navLink in navLinks" > <a ng-class="navClass('{{navLink.Alias}}')" href='{{navLink.Title}}'>{{ navLink.LinkText }}</a></li>
			</ul>
		</nav>
		<section id="header">
			<section id="leftText">
				<p id="hatedTitle"><b>{{ mostHated }}</b> <span>{{ people }}</span></p>
				<p id="lastSeven">{{ past }}</p>
			</section>
			<section id="filter" ng-controller="filterCtrl">
				<section id="closeFilter"><button id="close" class="hidden"><b>X</b></button></section>
				<button class="filterOptions">SELECT FILTER<img id="arrow" src="images/categories.png" alt="categoriesArrow"></button>
				<ul class="filterItem">
					<li ng-repeat="filterButton in filterButtons"><button id="{{ filterButton.Id }}" class="filterItemButton">{{ filterButton.Name }}</button></li>
					<div class="claer"></div>
				</ul>
			</section>
			<div class="clear"></div>
		</section>
		<section id="cubeContainer"></section>
	</body>
</html>